<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hello World!, nice to meet you!</h2>
      <p class="subtitle subtitle--light">This project is the study about The Implement of Data Science to Customer Relationship Management (CRM) Solution
      </p>

      <p>My name is Tach, Thank you so much for taking the time to learn with me today</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>