<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/zatori_color.png' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hello World!</h2>
      <p class="subtitle subtitle--light">This is The Implement of Data Science to Customer Relationship Management (CRM) Solution
      </p>

      <p>My name is Tach, I would like to express my deep gratitude to Dr.Thanachart Ritbumroong (Ajarn Check) and My Bros (Mini BA&I) for their patient guidance in my life</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>